.hero {
  padding: $space-bigger 0 $space-xl 0;
  a {
    img {
      margin: auto;
    }
  }
  p {
    width: 90%;
    margin: 1rem auto 3rem auto;
    font-size: 3rem;
  }
  @include media-breakpoint-only(xs) {
    a {
      img {
        width: 80%;
      }
    }
    p {
      font-size: 2rem;
    }
  }
}

.card {
  border: none;
  padding: $space-xl 0 $space-bigger 0;
  color: $color-pure-black;
  @include background-color-flavors;
  .card-content {
    padding-right: 8rem;
    font-size: 1.5rem;
    .card-title {
      margin-bottom: 2rem;
      font-size: 4rem;
      font-weight: 700;
    }
    .btn-dark {
      background-color: $color-pure-black;
      color: $white;
    }
  }
  .image {
    text-align: right;
    img {
      width: 80%;
      height: auto;
    }
  }
  &.miro {
    .image {
      img {
        width: 100%;
      }
    }
  }
  &.caracteristicas {
    .container {
      .card-content {
        ol,
        ul {
          li {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
  &.quienes {
    .image {
      display: flex;
      justify-content: flex-end;
      img {
        width: 67%;
      }
    }
  }
  @include media-breakpoint-only(xs) {
    .card-content {
      padding: 1rem;
      margin-bottom: 1.5rem;
      .card-title {
        font-size: 2.5rem;
      }
    }
    .image {
      text-align: center;
    }
    &.quienes {
      .image {
        justify-content: center;
      }
    }
  }
}
.element-container {
  padding: $space-xl 0 $space-bigger 0;
  @include background-color-flavors;
  &.title {
    padding: 1rem 0 3rem 0;
  }
  @include media-breakpoint-only(xs) {
    padding: 2rem 0 2rem 0;
    &.title {
      h1 {
        font-size: 3rem;
      }
    }
  }
}

.content {
  padding: $space-xl 0;
  iframe {
    min-height: 33rem;
  }
}
.contributors {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0;
  .profile {
    margin-right: 1rem;
  }
}
.image {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &.profile {
    display: block;
    width: 8rem;
    height: 8rem;
    img {
      border-radius: 50%;
    }
    @include media-breakpoint-only(xs) {
      margin-bottom: 1rem;
    }
  }
}
.accordion-section {
  margin-bottom: 4.6rem;
  h5 {
    font-size: 2.3rem;
  }
  .accordion-item {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    .accordion-header {
      display: block;
      width: 100%;
      padding: 1.1rem 2rem;
      border-radius: 1rem;
      background-color: $color-light-gray;
      border: none;
      text-align: left;
      box-shadow: 0px 4px 4px rgba($color-pure-black, 0.25);
      &:hover {
        background-color: lighten($color-light-gray, 5);
      }
    }
    .accordion-content {
      margin-top: 1rem;
      padding: 0 1rem;
      overflow: hidden;
      transition: max-height 0.6s ease;
    }
  }
}
.recursos {
  .main-content {
    .card {
      &:first-child {
        .card-title {
          font-size: 3rem;
        }
      }
    }
  }
}
.nosotros {
  .main-content {
    .container {
      h2 {
        font-size: 3rem;
        font-weight: 700;
      }
      p {
        color: $color-darker-gray;
        font-size: 1.5rem;
        &.extra-space {
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
      @include media-breakpoint-only(xs) {
        h3 {
          font-size: 2rem;
        }
      }
      .row {
        div:last-child {
          padding-left: 6.6rem;
          .image {
            &:first-child {
              margin-bottom: 2rem;
            }
          }
          @include media-breakpoint-only(xs) {
            padding-left: 1rem;
          }
        }
      }
    }
    .projects {
      ul {
        width: 60%;
        margin-top: 3rem;
        li {
          font-size: 1.5rem;
          margin-bottom: 1rem;
          a {
            display: block;
            margin-top: 1rem;
            color: $color-purple;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        @include media-breakpoint-only(xs) {
          width: 100%;
        }
      }
    }
    .about-us {
      h4 {
        margin-top: 2rem;
        font-size: 2.25rem;
      }
    }
    .contact-us {
      h4 {
        font-size: 2.25rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
      p {
        font-size: 1.4rem;
      }
    }
  }
}
