.hero {
  padding: $space-bigger 0 $space-xl 0;
  a {
    img {
      margin: auto;
    }
  }
   p {
     width: 90%;
     margin: 1rem auto 3rem auto;
     font-size: 3rem;
   }
}

.card {
  border: none;
  padding: $space-xl 0 $space-bigger 0;
  color: $color-pure-black;
  @include background-color-flavors;
  .card-content {
    padding-right: 8rem;
    font-size: 1.5rem;
    .card-title {
      margin-bottom: 2rem;
      font-size: 4rem;
      font-weight: 700;
    }
    .btn-dark {
      background-color: $color-pure-black;
      color: $white;
    }
  }
  .image {
    img {
      width: 100%;
      height: auto;
    }
  }
}
.element-container {
  padding: $space-xl 0 $space-bigger 0;
  @include background-color-flavors;
}

.content {
  padding: $space-xl 0;
}
.contributors {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  .profile {
    margin-right: 1rem;
  }
}
.image {
  &.profile {
    display: block;
    width: 8rem;
    height: 8rem;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
.recursos {
  .main-content {
    .card {
      &:first-child {
        .card-title {
          font-size: 3rem;
        }
      }
    }
  }
}
.nosotros {
  .main-content {
    .container {
      .row {
        div:first-child {
          h3 {
            font-size: 3rem;
            font-weight: 700;
          }
          font-size: 1.5rem;
        }
        div:last-child {
          padding-left: 6.6rem;
          .image {
            &:first-child {
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}