.hero {
  padding: $space-bigger 0 $space-xl 0;
  a {
    img {
      margin: auto;
    }
  }
   p {
     width: 90%;
     margin: 1rem auto 3rem auto;
     font-size: 3rem;
   }
}

.card {
  border: none;
  padding: $space-xl 0 $space-bigger 0;
  color: $color-pure-black;
  @include background-color-flavors;
  .card-content {
    padding-right: 8rem;
    font-size: 1.5rem;
    .card-title {
      margin-bottom: 2rem;
      font-size: 4rem;
      font-weight: 700;
    }
    .btn-dark {
      background-color: $color-pure-black;
      color: $white;
    }
  }
  .image {
    img {
      width: 100%;
      height: auto;
    }
  }
  &.quienes {
    .image {
      display: flex;
      justify-content: flex-end;
      img {
        width: 67%;
      }
    }
  }
}
.element-container {
  padding: $space-xl 0 $space-bigger 0;
  @include background-color-flavors;
  &.title {
    padding: 1rem 0 3rem 0;
  }
}

.content {
  padding: $space-xl 0;
}
.contributors {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  .profile {
    margin-right: 1rem;
  }
}
.image {
  &.profile {
    display: block;
    width: 8rem;
    height: 8rem;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
.accordion-section {
  margin-bottom: 4.6rem;
  h5 {
    font-size: 2.3rem;
  }
  .accordion-item {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    .accordion-header {
      display: block;
      width: 100%;
      padding: 1.1rem 2rem;
      border-radius: 1rem;
      background-color: $color-light-gray;
      border: none;
      text-align: left;
      box-shadow: 0px 4px 4px rgba($color-pure-black, .25);
      &:hover {
        background-color: lighten($color-light-gray, 5);
      }
    }
    .accordion-content {
      margin-top: 1rem;
      padding: 0 1rem;
      overflow: hidden;
      transition: max-height 0.6s ease;
    }
  }
}
.recursos {
  .main-content {
    .card {
      &:first-child {
        .card-title {
          font-size: 3rem;
        }
      }
    }
  }
}
.nosotros {
  .main-content {
    .container {
      .row {
        div:first-child {
          h3 {
            font-size: 3rem;
            font-weight: 700;
          }
          font-size: 1.5rem;
        }
        div:last-child {
          padding-left: 6.6rem;
          .image {
            &:first-child {
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}